<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cihaz Detayı</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/frontend/src/images/apple-airpods-2.png" class="img-fluid rounded-start" alt="Samsung tablet">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Apple Kulaklık</h5>
                      <p class="card-text">Her zamankinden daha sihirli.Yeni AirPods, akıllı bir tasarımı çığır açan bir teknoloji ve kristal netliğinde bir ses kalitesiyle buluşturuyor. 
                            Gücünü yeni Apple H1 kulaklık çipinden alan AirPods ile şimdi ellerinizi kullanmadan yalnızca sesinizle Siri’ye erişebilirsiniz.
                            Üstelik tek bir şarjla  3 saate kadar konuşma süresi elde edersiniz. Otomatik olarak açılıyor, otomatik olarak bağlanıyor.Tüm Apple aygıtlarınız için kolay kurulum
                            “Hey Siri” diyerek Siri’ye hızlı erişim, Oynatmak veya bir sonrakine atlamak için çift dokunuş, Yeni Apple H1 kulaklık çipiyle aygıtlarınızda  daha hızlı kablosuz bağlantı
                            Şarj kutusunda hızlı şarj imkanı • Şarj kutusu, Lightning konnektörüyle şarj edilebilir. Zengin ve yüksek kalitede ses. Aygıtlar arasında sorunsuz geçiş.
                            Şarj Kutusu ile birçok kez şarj ederek gün boyu dinleme ve konuşma imkanı</p>
                      <p class="card-text"><small class="text-muted-">1000 TL</small></p>
        
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Özellikler</th>
                            <th scope="col">Apple Airpods 2</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Ağırlık</th>
                            <td>45 g</td>
                          </tr>
                          <tr>
                            <th scope="row">Bluetooth</th>
                            <td>Var</td>
                          </tr>
                          <tr>
                            <th scope="row">Mikrofon</th>
                            <td>Var</td>
                          </tr>
                          <tr>
                            <th scope="row">Renk</th>
                            <td>Beyaz</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        
        

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
<style>
  .gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}



</style>

</html>