<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paycell Payment</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <div class="formHeader">
        <div class="header1">
            <h1>Parcell</h1>
        </div>  
    </div>

    <div class="container mt-5">
        <h2>Kart Bilgileri</h2>
        <form class="row g-3">
            <div class="col-sm-6">
                <label for="firstName" class="form-label">Kart Numarası</label>
                <input type="text" class="form-control" id="firstName" required>
            </div>
        </form>
        <br>
        <form class="row g-3">
        <div class="col-sm-2">
            <label for="stateinf" class="form-label">Ay</label>
            <select class="form-select form-select" aria-label=".form-select-sm example" required>
                <option selected>Seçiniz</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="1">04</option>
                <option value="2">05</option>
                <option value="3">06</option>
                <option value="1">07</option>
                <option value="2">08</option>
                <option value="3">09</option>
                <option value="1">10</option>
                <option value="2">11</option>
                <option value="3">12</option>
              </select>
        </div>

        <div class="col-sm-2">
            <label for="stateinf" class="form-label">Yıl</label>
            <select class="form-select form-select" aria-label=".form-select-sm example" required>
                <option selected>Seçiniz</option>
                <option value="1">2021</option>
                <option value="2">2022</option>
                <option value="3">2023</option>
              </select>
        </div>

        <div class="col-sm-2">
            <label for="CVV" class="form-label">CVV</label>
            <input type="text" class="form-control" id="CVV" required>
        </div>
        
        
        </form>
        <br>
        <div class="col-sm-2">
            <button class="btn btn-primary" id="btn-pay">Ödeme yap</button>
        </div>
        <br>
        <div class="col-sm-6">

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">Sözleşmeler ve Formlar</button>									
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <p><strong>Mesafeli Satış Sözleşmesi</strong></p>
                        <div class="overflow-auto">
                            <p> E TİCARET MESAFELİ SATIŞ SÖZLEŞMESİ
                            Madde 1- Taraflar
                            1.1. Satıcı
                            Adı: Özdisan Elektronik Sanayi ve Ticaret A.Ş.
                            Adresi: DES Sanayi Sitesi 104 Sokak A07 Blok No: 54 - 56 Yukarı Dudullu / Ümraniye / İstanbul -
                            Türkiye
                            Telefon: +902164201882
                            MERSIS NO: 0683-0033-7910-0011
                            E mail: info@ozdisan.com
                            1.2. Alıcı
                            Adı – Soyadı:
                            TCK. No:
                            Adresi:
                            Telefon:
                            E-mail:
                            Madde 2- Konu
                            İşbu sözleşmenin konusu, ALICI’ nın SATICI’ ya ait www.ozdisan.com internet sitesinden elektronik
                            ortamda siparişini yaptığı aşağıda nitelikleri ve satış ücreti belirtilen ürünün satışı ve teslimi ile ilgili
                            olarak Türk Ticaret Kanunu, Borçlar Kanunu ve 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun
                            ve Mesafeli Sözleşmelere Dair Yönetmelik hükümleri gereğince tarafların hak ve yükümlülüklerinin
                            saptanmasıdır.
                            Alıcı, satıcının isim, unvan, açık adres, telefon ve diğer erişim bilgileri, satışa konu malın temel
                            nitelikleri, vergiler dahil olmak üzere satış fiyatı, ödeme şekli, teslimat koşulları ve masrafları vs. satışa
                            konu mal ile ilgili tüm ön bilgiler ve “cayma” hakkının kullanılması ve bu hakkın nasıl kullanılacağı,
                            şikayet ve itirazlarını iletebilecekleri resmi makamlar vs. konusunda açık, anlaşılır ve internet
                            ortamına uygun şekilde satıcı tarafından bilgilendirildiğini, bu ön bilgileri elektronik ortamda teyit
                            ettiğini ve sonrasında mal sipariş verdiğini is bu sözleşme hükümlerince kabul ve beyan eder.
                            www.ozdisan.com sitesinde yer alan ön bilgilendirme ve alıcı tarafından verilen sipariş üzerine
                            düzenlenen fatura is bu sözleşmenin ayrılmaz parçalarıdır.
                            Madde 3- Sözleşme Konusu Ürün/Ödeme/Teslimat Bilgileri
                            Elektronik ortamda alınan ürün/ürünlerin cinsi ve türü, miktarı, marka/modeli, satış bedeli, ödeme
                            şekli, teslim alacak kişi, teslimat adresi, fatura bilgileri, kargo ücreti aşağıda belirtildiği gibidir. Fatura
                            edilecek kişi ile sözleşmeyi yapan kişi aynı olmak zorundadır. Aşağıda yer alan bilgiler doğru ve
                            eksiksiz olmalıdır. Bu bilgilerin doğru olmadığı veya noksan olduğu durumlardan doğacak zararları
                            tamamıyla karşılamayı alıcı kabul eder ve ayrıca bu durumdan oluşabilecek her türlü sorumluluğu alıcı
                            kabul eder. SATICI gerekli gördüğü durumlarda, ALICI’ nın vermiş olduğu bilgiler gerçekle 
                            örtüşmediğinde, siparişi durdurma hakkını saklı tutar. SATICI siparişte sorun tespit ettiği durumlarda
                            ALICI’nın vermiş olduğu telefon, e-posta ve posta adreslerinden ALICI’ya ulaşamadığı takdirde
                            siparişin yürürlüğe koyulmasını 15 (onbeş) gün süreyle dondurur. ALICI’nın bu süre zarfında SATICI ile
                            konuyla ilgili olarak iletişime geçmesi beklenir. Bu süre içerisinde ALICI’dan herhangi bir cevap
                            alınamazsa SATICI, her iki tarafın da zarar görmemesi için siparişi iptal eder. Alınan Ürün /Ürünler
                            Adı, kodu : … adet
                            Toplam Satış Bedeli : …. –TL/USD
                            Ödeme Şekli: Kredi Kartı/Banka Havalesi (EFT)
                            Teslim Edilecek Kişi :
                            Telefon numarası :
                            Teslim Edilecek Adres :
                            Fatura Edilecek Kişi/Kurum :
                            Fatura Adresi :
                            Vergi Dairesi :
                            Vergi Sicil Numarası :
                            Kargo Ücreti : … -TL/USD
                            Teslimat adresi Türkiye dışı olan ülkelerde gönderim bedeli ve gümrükte doğabilecek ekstra giderler
                            ayrıca ilave edilecektir</p>
                        </div>
                     <p><strong>Ön Bilgilendirme Formu</strong></p>
                        <p> SATICI :
                            Satıcı Unvan: XXX XXX XXX XXX XXX.
                            Tel: 0XXX XXX XX XX / Faks: 0XXX XXX XX XX
                            Adres: XXX XXX XX XX
                            ÖN BİLGİLENDİRME FORMU
                            1) Sözleşme konusu mal veya hizmetin adı, adeti, KDV dahil satış fiyatı, ödeme şekli ve kısaca
                            temel nitelikleri
                            Ödeme Şekli : [[sozlesme.Odeme_Tipi]]
                            [[sozlesme.Siparis_Urunler]]
                            2) Paketleme, kargo ve teslim masrafları Alıcı tarafından karşılanmaktadır. Kargo
                            ücreti [[sozlesme.KargoUcreti]] olup, kargo fiyatı sipariş toplam tutarına eklenmektedir. Ürün
                            bedeline dahil değildir. Teslimat , anlaşmalı kargo şirketi aracılığı ile, Alıcı'nın yukarıda belirtilen
                            adresinde elden teslim edilecektir. Teslim anında Alıcı'nın adresinde bulunmaması durumunda dahi
                            Firmamız edimini tam ve eksiksiz olarak yerine getirmiş olarak kabul edilecektir. Bu nedenle,
                            Alıcı'nın ürünü geç teslim almasından kaynaklanan her türlü zarar ile ürünün kargo şirketinde
                            beklemiş olması ve/veya kargonun Firmamıza geri iade edilmesinden dolayı da oluşan giderler de
                            Alıcı'ya aittir.
                            3) Ürün sözleşme tarihinden itibaren en geç 30 gün içerisinde teslim edilecektir. Ürününün teslim
                            edilmesi anına kadar tüm sorumluluk firmamıza aittir.
                            4) "Tüketicinin hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin
                            malı teslim aldığı veya sözleşmenin imzalandığı tarihten itibaren yedi gün içerisinde malı veya
                            hizmeti reddederek sözleşmeden cayma hakkının var olduğunu ve cayma bildiriminin satıcı veya
                            sağlayıcıya ulaşması tarihinden itibaren malı geri almayı taahhüt ederiz." Firmamızın yukarıda
                            belirtilen yükümlülüklerini yerine getirmemesi hâlinde, cayma hakkı süresi 3 aydır. 7 günlük süre ile 3
                            aylık süre, malın teslimine ilişkin sözleşmelerde, tüketicinin malı teslim aldığı günden itibaren, diğer
                            sözleşmelerde ise sözleşmenin akdedildiği günden itibaren işlemeye başlar. İş bu, "Ön Bilgilendirme
                            Formunda" ve Mesafeli Sözleşmelere Dair Yönetmelikte belirtilen yükümlülüklerin, üç aylık süre
                            içerisinde yerine getirilmesi hâlinde, 7 günlük cayma hakkı süresi, söz konusu yükümlülüklerin yerine
                            getirildiği günden itibaren işlemeye başlar. Cayma hakkının kullanıldığına dair irade beyanının bu
                            süre içinde yazılı olarak veya bir sürekli veri taşıyıcısıyla bildirilmesi yeterlidir.
                            5) Sipariş vermek için kullandığınız internet sitesinin kullanılması nedeniyle, ücret tarifesi ile ilgili
                            olarak tüketicilere ilave bir maliyet yüklenmemektedir.
                            6) İş bu "Bilgilendirme Formunda" belirtilen fiyat dâhil tüm taahhütlerin geçerlik süresi 30 gündür.
                            7) Sürekli veya dönemsel olarak ifa edilen ürün olarak, satışa arz ettiğimiz ürünümüz yoktur.
                            8) Belirsiz süreli veya süresi bir yıldan fazla olarak satışa arz ettiğimiz ürünlerle ilgili olarak herhangi
                            bir satış şeklimiz bulunmamaktadır.
                            9) Tüketicilerin şikâyet ve itirazları: Başvurularınızı, Gümrük ve Ticaret Bakanlığı tarafından her yıl
                            Aralık ayında belirlenen parasal sınırlar dâhilinde (2013 yılı için Büyükşehir statüsünde bulunan
                            illerde faaliyet gösteren Tüketici Sorunları Hakem Heyetlerinin yetkili olmalarına ilişkin parasal
                            sınır 3.110,58 TL ve Büyükşehir statüsünde bulunmayan illerde faaliyet gösteren Tüketici Sorunları
                            Hakem Heyetlerinin yetkili olmalarına ilişkin parasal sınır ise 1.191,52 TL 'dir. Bahsedilen bedelin
                            altındaki tutarlar için İlçe Tüketici Sorunları Hakem Heyeti Başkanlıklarına başvurulması
                            gerekmektedir.) mal veya hizmeti satın aldığınız veya ikametgâhınızın bulunduğu yerdeki Tüketici
                            Sorunları Hakem Heyetine veya Tüketici Mahkemesine yapabilirsiniz.
                            10) Ödemenin kredi kartı vb. ile harcama belgesi düzenlenmeksizin yapıldığı durumlarda, kartın bir
                            başkası tarafından hukuka aykırı şekilde kullanılması hâlinde; 23/2/2006 tarihli 5464 sayılı Banka
                            Kartları ve Kredi Kartları Kanunu ve 10/3/2007 tarihli ve 26458 sayılı Resmî Gazete’de yayımlanan
                            Banka Kartları ve Kredi Kartları Hakkında Yönetmelik hükümlerine göre işlem yapılır.
                            11) Alıcının temerrüde düşmesinin hukuki sonuçları hususunda, Tüketicinin Korunması Hakkında
                            Kanunun "Taksitle Satış" başlıklı 6/A maddesi hükümleri uygulanır.
                            SATICI :
                            Satıcı Unvan: XXX XXX XXX XXX XXX.
                            Tel: 0XXX XXX XX XX / Faks: 0XXX XXX XX XX
                            Adres: XXX XXX XX XX
                            ALICI :
                            Adı/Soyadı/Ünvanı : [[sozlesme.Alici_AdSoyad]]
                            Adresi : [[sozlesme.Fatura_Adres]]
                            Telefon : [[sozlesme.Fatura_TelefonGsm]]
                            Email : [[sozlesme.Alici_Email]]
                            Tarih : [[sozlesme.Tarih]]</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>