<!DOCTYPE html>
<html>
    <head>
        <title>Parcell Talep Formu</title>
        <link rel="stylesheet" href="/frontend/src/css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/frontend/src/css/style.css">
        <div class="formHeader">
            <div class="header1">
                 <h1>Parcell</h1>
            </div>
           
        </div>
    </head>

    <body>
        <div id="googleForm">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd9wria5cr3EYOpMJRRaagHsdt3_kmULuYi7iQ2_xZqiW-B9w/viewform?embedded=true" width="640" height="1400" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe>
        </div>
    </body>
</html>