<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Parcell Kullanıcı Bilgileri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/frontend/src/css/style.css">  
</head>
<body>
<div class="container">
<div class="panel-body inf-content">
    <div class="row">
        <div class="col-md-4">
            <img alt="" style="width:500px;" title="" class="img-circle img-thumbnail isTooltip" src="/frontend/src/images/userimage.jpg" data-original-title="Usuario">

        </div>
        <div class="col-md-6">
            <strong>Kullanıcı Bilgileri</strong><br>
            <div class="table-responsive">
            <table class="table table-user-information">
                <tbody>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-cloud text-primary"></span>
                                    Müşteri No.                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                                    1911012054     
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary"></span>    
                                    Ad                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                                    Furkan   
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user text-primary"></span>  
                                    Soyad                                             
                            </strong>
                        </td>
                        <td class="text-primary">
                                    Süpürenel  
                        </td>
                    </tr>
                    
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user text-primary"></span> 
                                    Cinsiyet
                            </strong>
                        </td>
                        <td class="text-primary">
                                    Erkek
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-asterisk text-primary"></span>  
                                    Şifre                                             
                            </strong>
                        </td>
                        <td class="text-primary">
                                    **********
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-globe text-primary"></span> 
                                    Doğum Yeri                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                             Eskişehir
                        </td>
                    </tr>

                    

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                    Email                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                                    frknsprnl@hotmail.com  
                        </td>
                    </tr>
                    
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-earphone text-primary"></span> 
                                    Telefon No.                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                                    545 *** **40  
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-home text-primary"></span>  
                                    Adres                                             
                            </strong>
                        </td>
                        <td class="text-primary">
                                    Aksungur, 8, 49400, Malazgirt, Eskişehir
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-calendar text-primary"></span> 
                                    Doğum Tarihi                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                                    02.09.2001
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    Üyelik Tarihi                                               
                            </strong>
                        </td>
                        <td class="text-primary">
                                    04.10.2019
                        </td>
                    </tr>                                  
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</div>                                        

</body>
</html>